.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 48px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    &__podiumdrukte {
        color: $primaryInBoxes;

    }
}

.footer a {
    display: flex;
    justify-content: center;
}