.header {
    background: linear-gradient(to bottom, #CC56FF, white);

    &__logo {
        margin-left: 10%;
        margin-top: 32px;
        width: 28%;
    }

    &__images {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;


    }

    &__level {
        background-color: white;
        color: $secondaryInBoxes;
        font-weight: bold;
        width: fit-content;
        height: fit-content;
        padding: 8px 16px;
        border-radius: 5px;
        margin-right: 5%;
        margin-top: 48px;
    }



    &__badges {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin-top: 32px;

        &__mainBadge {
            margin-left: -32px;
            margin-top: -16px;
        }
    }

    &__badges p {
        margin-top: -32px;
        grid-column: 1 / -1;
        text-align: center;
        font-size: $h6;
        font-weight: 500;
    }



    &__pointsImg {
        width: 30%;
        margin-left: 35%;
        margin-top: 32px;
    }

    &__collectPoints {
        margin: auto;
        margin-top: 20px;
        font-weight: bold;
        color: $secondaryInBoxes;
        background-color: white;
        width: fit-content;
        height: fit-content;
        padding: 1px 15px;
        border-radius: 5px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 120px;


        &__text {
            font-size: $h6;
            font-weight: 600;
            color: $buttonColor;
            margin-bottom: 10px;

            &__active {
                font-size: $h6;
                font-weight: 600;
                color: $buttonColor;
                border-bottom: 5px solid $buttonColor;
            }
        }
    }
}