@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F1F3;
    max-width: 428px;
    margin: auto;
}