$backgroundColor: #F3F1F3;
$darkgrayTextColor: #545255;
$titleColor: #291532;
$primaryInBoxes: #8E00CC;
$secondaryInBoxes: #58B7B7;
$buttonColor: #469292;

$h1: 44px;
$h2: 34px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;

$fontsizeNormal: 16px;
$fontsizeSmall: 14px;