$backgroundColor: #f3f1f3;
$secondaryBackgroundColor: white;
$textColor: #545255;
$titleColor: #291532;
$primaryInBoxes: #8e00cc;
$secondaryInBoxes: #58b7b7;
$buttonColor: #469292;

//darkmode

// $backgroundColor: #2b2a2c;
// $secondaryBackgroundColor: #241a28;
// $titleColor: #fefdfe;
// $textColor: #fefdfe;
// $primaryInBoxes: #d269ff;
// $secondaryInBoxes: #58b7b7;
// $buttonColor: #469292;

$h1: 44px;
$h2: 34px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;

$fontsizeNormal: 16px;
$fontsizeSmall: 14px;
