$backgroundColor: #2B2A2C;
$secondaryBackgroundColor: black;
//bg-color #F3F1F3
//title volor #291532
//text-color #545255
$textColor: white;
$titleColor: white;
$primaryInBoxes: #8E00CC;
$secondaryInBoxes: #58B7B7;
$buttonColor: #469292;

$h1: 44px;
$h2: 34px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;

$fontsizeNormal: 16px;
$fontsizeSmall: 14px;