@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
.logo {
  margin-top: 64px;
  width: 28%;
}

.points {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -65px;
  margin-right: 5%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #58B7B7;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 0px 15px;
}

.enquete {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 20px;
  background-color: white;
  border-radius: 5px;
}
.enquete__time {
  font-size: 24px;
  margin-top: -14px;
  margin-bottom: -10px;
  color: black;
}
.enquete__time__seconds {
  color: #8E00CC;
}
.enquete__button {
  width: 70px;
  height: 70px;
  background-color: #8E00CC;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 2px;
  cursor: pointer;
}
.enquete__normalText {
  color: #545255;
}

.reward {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-bottom: 20px;
}
.reward__image {
  margin-top: 10px;
}
.reward__content {
  display: flex;
  justify-content: space-between;
}
.reward__content__points {
  margin-left: 60px;
}
.reward__content__points__bold {
  font-weight: bold;
}
.reward__progressbar {
  margin-top: -10px;
  margin-left: 70px;
  width: 400%;
  height: 5px;
  border-radius: 10px;
  background-color: plum;
}
.reward__progressbarFilled {
  margin-top: -10px;
  width: 90%;
  height: 5px;
  border-radius: 10px;
  background-color: #8E00CC;
}

.inlogForm {
  margin-top: 80px;
}
.inlogForm__title {
  font-weight: 600;
  color: #291532;
}
.inlogForm__subTitle {
  margin-top: -20px;
  margin-left: 2px;
  color: #545255;
}
.inlogForm__username {
  width: 95%;
  height: 48px;
  margin-top: 16px;
  font-size: 16px;
  border-color: rgba(41, 21, 50, 0.15);
  border-radius: 5px;
  padding-left: 5%;
  color: #545255;
}
.inlogForm__password {
  width: 95%;
  height: 48px;
  margin-top: 40px;
  font-size: 16px;
  border-color: rgba(41, 21, 50, 0.15);
  border-radius: 5px;
  padding-left: 5%;
  color: #545255;
}
.inlogForm__checkbox {
  margin-top: 16px;
  border-width: 0.5px;
}
.inlogForm__remember {
  font-size: 14px;
  color: #545255;
}
.inlogForm__forgotPassword {
  position: absolute;
  font-size: 14px;
  color: #545255;
  right: 0;
  margin-top: 16px;
  margin-right: 6%;
}
.inlogForm__button {
  width: 100%;
  height: 48px;
  margin-top: 40px;
  background-color: #8E00CC;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.inlogForm__line {
  margin-top: 40px;
  color: lightgray;
  font-size: 14px;
}
.inlogForm__otherlogin {
  margin-top: -18px;
  color: #545255;
  font-size: 14px;
  width: fit-content;
  padding: 0px 10px;
  background-color: #F3F1F3;
  margin-left: 36%;
}
.inlogForm__socials {
  display: flex;
  justify-content: center;
}
.inlogForm__withoutPassword {
  position: absolute;
  margin-top: 32px;
  color: #545255;
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F3F1F3;
}

.container {
  width: 90%;
  margin: auto;
}

.cornerL {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cornerR {
  position: absolute;
  top: 0;
  right: 0;
}