@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
.logo {
  margin-top: 64px;
  width: 28%;
}

.backArrow {
  margin-top: 64px;
}

.backArrowSmallMargin {
  margin-top: 16px;
}

.surveyProgres {
  margin-top: 20px;
  margin-left: 0px;
}

a {
  text-decoration: none;
}

.changeCrowdButton {
  background-color: #d269ff;
  color: white;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 56px;
  font-size: 18px;
}

h1 {
  font-size: 44px;
  color: #fefdfe;
}

h2 {
  font-size: 34px;
  color: #fefdfe;
}

h3 {
  font-size: 28px;
  color: #fefdfe;
}

h4 {
  font-size: 24px;
  color: #fefdfe;
}

h5 {
  font-size: 20px;
  color: #fefdfe;
}

h6 {
  font-size: 18px;
  color: #fefdfe;
}

.points {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -65px;
  margin-right: 5%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #58b7b7;
  background-color: #241a28;
  width: fit-content;
  height: fit-content;
  padding: 0px 15px;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #e0b3ff; /* Light purple (default) */
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 6px;
}
.toggle-switch__checkbox {
  display: none; /* Hide the checkbox */
}
.toggle-switch__label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toggle-switch__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  margin-top: 4px;
}
.toggle-switch__checkbox:checked + .toggle-switch__label .toggle-switch__circle {
  transform: translateX(30px); /* Move the circle to the right when activated */
}

/* Optional: Additional dark mode styles if needed */
.dark-mode .toggle-switch {
  background-color: #333; /* Dark background when dark mode is on */
}

.settings {
  background-color: #241a28;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1px 10px;
  margin-top: 32px;
  color: #fefdfe;
}

.enquete {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 20px;
  background-color: #241a28;
  border-radius: 5px;
}
.enquete__time {
  font-size: 28px;
  margin-top: -14px;
  margin-bottom: -10px;
  color: #fefdfe;
}
.enquete__time__seconds {
  color: #d269ff;
}
.enquete__button {
  width: 70px;
  height: 70px;
  background-color: #d269ff;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 2px;
  cursor: pointer;
}
.enquete__normalText {
  color: #fefdfe;
}

.reward {
  margin-top: 48px;
}
.reward__card {
  background-color: #241a28;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-bottom: 20px;
  margin-top: 32px;
}
.reward__card__image {
  margin-top: 10px;
}
.reward__card__content {
  display: flex;
  justify-content: space-between;
}
.reward__card__content__name {
  color: #fefdfe;
}
.reward__card__content__points {
  color: #fefdfe;
}
.reward__card__content__points__bold {
  color: #fefdfe;
  font-weight: bold;
}
.reward__card__progressbar {
  margin-top: -10px;
  margin-left: 72px;
  width: 360%;
  height: 7px;
  border-radius: 10px;
  background-color: plum;
}
.reward__card__progressbarFilledMojito {
  margin-top: -10px;
  width: 90%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.reward__card__progressbarFilledBier {
  margin-top: -10px;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.reward__card__progressbarFilledCheeseburger {
  margin-top: -10px;
  width: 25%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.reward__card__progressbarFilledFriet {
  margin-top: -10px;
  width: 19%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.reward__extra {
  background-color: #241a28;
  border-radius: 5px;
  padding-left: 10%;
  margin-top: -20px;
  font-size: 14px;
}
.reward__extra__container {
  display: flex;
  justify-content: space-between;
  color: #fefdfe;
}
.reward__extra__button {
  background-color: #908c92;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 5px 15px;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  margin-right: 10px;
}
.reward__extra__button__active {
  background-color: #d269ff;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 5px 15px;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  margin-right: 10px;
}
.reward__extra__line {
  margin-top: 20px;
  width: 90%;
  margin-left: -2px;
}

.achievementCard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
  margin-top: 32px;
}
.achievementCard__image__img {
  width: 200%;
  margin-left: -30px;
  margin-top: -10px;
}
.achievementCard__image__img__lock {
  width: 200%;
  margin-left: -50px;
  margin-top: -20px;
}
.achievementCard__image__text {
  margin-top: -56px;
  text-align: center;
  font-size: 16px;
  color: #469292;
  font-weight: 600;
}
.achievementCard__content__title {
  font-weight: 600;
  color: #fefdfe;
}
.achievementCard__content__description {
  width: 80%;
  color: #fefdfe;
}
.achievementCard__content__description__number {
  margin-right: -25%;
  float: right;
}
.achievementCard__content__progressbar {
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: #dcb0ef;
}
.achievementCard__content__progressbarFilled {
  margin-top: -7px;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.achievementCard__content__progressbar25 {
  margin-top: -7px;
  width: 40%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.achievementCard__content__progressbar310 {
  margin-top: -7px;
  width: 30%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}
.achievementCard__content__progressbar15 {
  margin-top: -7px;
  width: 20%;
  height: 7px;
  border-radius: 10px;
  background-color: #d269ff;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
  width: 100%;
  border: 1px solid gray;
}
.dropdown__button {
  width: 100%;
  color: white;
  background-color: #241a28;
  color: #d269ff;
  padding: 10px 20px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown__arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrongInfo {
  background-color: #f1fefe;
  padding: 4px;
  margin-top: 40px;
  padding-bottom: 16px;
}
.wrongInfo__title {
  width: 96%;
  margin: auto;
  margin-top: 8px;
}
.wrongInfo__content {
  width: 96%;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #fefdfe;
}
.wrongInfo__link {
  color: #d269ff;
  text-decoration: underline;
  margin-left: 2%;
}

.inlogForm {
  margin-top: 80px;
}
.inlogForm__title {
  font-weight: bold;
}
.inlogForm__subTitle {
  margin-top: -20px;
  margin-left: 2px;
  color: #fefdfe;
}
.inlogForm__username {
  width: 95%;
  height: 48px;
  margin-top: 16px;
  font-size: 16px;
  border-color: rgba(41, 21, 50, 0.15);
  border-radius: 5px;
  padding-left: 5%;
  color: #fefdfe;
  background-color: #241a28;
}
.inlogForm__password {
  width: 95%;
  height: 48px;
  margin-top: 40px;
  font-size: 16px;
  border-color: rgba(41, 21, 50, 0.15);
  border-radius: 5px;
  padding-left: 5%;
  color: #fefdfe;
  background-color: #241a28;
}
.inlogForm__checkbox {
  margin-top: 16px;
  border-width: 0.5px;
  background-color: #241a28;
}
.inlogForm__remember {
  font-size: 14px;
  color: #fefdfe;
}
.inlogForm__forgotPassword {
  position: absolute;
  font-size: 14px;
  color: #fefdfe;
  right: 0;
  margin-top: 16px;
  margin-right: 6%;
}
.inlogForm__button {
  width: 100%;
  height: 48px;
  margin-top: 40px;
  background-color: #d269ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.inlogForm__line {
  margin-top: 40px;
  color: lightgray;
  font-size: 14px;
}
.inlogForm__otherlogin {
  margin-top: -18px;
  color: #fefdfe;
  font-size: 14px;
  width: fit-content;
  padding: 0px 10px;
  background-color: #2b2a2c;
  margin-left: 36%;
}
.inlogForm__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.inlogForm__withoutPassword {
  position: absolute;
  margin-top: 32px;
  color: #fefdfe;
  font-size: 14px;
  border-bottom: 1px solid #fefdfe;
  margin-bottom: 48px;
}

.header {
  background: linear-gradient(to bottom, #cc56ff, #241a28);
}
.header__logo {
  margin-left: 10%;
  margin-top: 32px;
  width: 28%;
}
.header__images {
  display: flex;
  justify-content: space-between;
}
.header__level {
  background-color: #241a28;
  color: #58b7b7;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 5%;
  margin-top: 48px;
}
.header__badges {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 32px;
}
.header__badges__mainBadge {
  margin-left: -32px;
  margin-top: -16px;
}
.header__badges__subtitle {
  color: #fefdfe;
}
.header__badges p {
  margin-top: -32px;
  grid-column: 1/-1;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.header__pointsImg {
  width: 30%;
  margin-left: 35%;
  margin-top: 32px;
}
.header__collectPoints {
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
  color: #58b7b7;
  background-color: #241a28;
  width: fit-content;
  height: fit-content;
  padding: 1px 15px;
  border-radius: 5px;
}
.header__buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 120px;
}
.header__buttons__text {
  font-size: 18px;
  font-weight: 600;
  color: #469292;
  margin-bottom: 10px;
}
.header__buttons__text__active {
  font-size: 18px;
  font-weight: 600;
  color: #469292;
  border-bottom: 5px solid #469292;
}

.footer {
  background-color: #241a28;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 48px;
  padding-top: 10px;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.footer__podiumdrukte {
  color: #d269ff;
}

.footer a {
  display: flex;
  justify-content: center;
}

.surveyContent {
  margin-top: 32px;
  margin-bottom: 200px;
}
.surveyContent__number {
  font-size: 18px;
  color: #fefdfe;
}
.surveyContent__number span {
  font-weight: bold;
  font-size: 24px;
  color: #fefdfe;
}
.surveyContent__question {
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: -8px;
}
.surveyContent__image {
  margin-top: 16px;
  width: 60%;
  margin-left: 20%;
}
.surveyContent__slider {
  margin-top: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 56px;
}
.surveyContent__slider__left {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 99px;
  color: #fefdfe;
}
.surveyContent__slider__right {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 99px;
  color: #fefdfe;
  text-align: right;
  margin-left: 80px;
  margin-bottom: 16px;
}
.surveyContent__slider__slider {
  -webkit-appearance: none;
  /* Verwijder standaard stijl in WebKit browsers */
  grid-column: span 2;
  width: 100%;
  height: 16px;
  background: #241a28;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}
.surveyContent__slider__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Verwijder standaard stijl in WebKit browsers */
  appearance: none;
  width: 52px;
  height: 40px;
  background: #58b7b7 url("../images/dubbleArrow.png") no-repeat center center;
  background-size: contain;
  /* Zorg ervoor dat de afbeelding past */
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.surveyContent__button {
  background-color: #d269ff;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  margin-bottom: 40px;
}

.crowd {
  background-color: #241a28;
  margin-top: 24px;
}
.crowd__amount {
  padding-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 96%;
  margin: auto;
  margin-bottom: 8px;
}
.crowd__amount__bar1 {
  width: 16px;
  height: 122px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar2 {
  width: 16px;
  height: 139px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar3 {
  width: 16px;
  height: 151px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar4 {
  width: 16px;
  height: 195px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar5 {
  width: 16px;
  height: 183px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar6 {
  width: 16px;
  height: 195px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar7 {
  width: 16px;
  height: 166px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar8 {
  width: 16px;
  height: 151px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar9 {
  width: 16px;
  height: 132px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar10 {
  width: 16px;
  height: 94px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar11 {
  width: 16px;
  height: 74px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar12 {
  width: 16px;
  height: 57px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar13 {
  width: 16px;
  height: 80px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar14 {
  width: 16px;
  height: 100px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar15 {
  width: 16px;
  height: 115px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__amount__bar16 {
  width: 16px;
  height: 100px;
  background: linear-gradient(to bottom, #f30075, #d77aff);
  border-radius: 2px;
}
.crowd__time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  color: #fefdfe;
}
.crowd__time__progressbarFull {
  width: 90%;
  height: 5px;
  border-radius: 10px;
  background-color: #d269ff;
  margin: auto;
}
.crowd__time__progressbar {
  width: 90%;
  height: 5px;
  border-radius: 10px;
  background-color: #dcb0ef;
  margin: auto;
}
.crowd__time__progressbar80 {
  width: 60%;
  height: 5px;
  border-radius: 10px;
  background-color: #d269ff;
  margin-left: 5%;
  margin-top: -5px;
}

.collect__image {
  margin-top: 80px;
  width: 60%;
  margin-left: 20%;
}
.collect__title {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.collect__paraf {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fefdfe;
}
.collect__points {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #58b7b7;
  background-color: #241a28;
  width: fit-content;
  height: fit-content;
  padding: 0px 15px;
}
.collect__button {
  margin-top: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  background-color: #d269ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #2b2a2c;
  max-width: 428px;
  margin: auto;
}

.container {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.cornerL {
  position: absolute;
  top: 750px;
  left: 0;
}

.cornerR {
  position: absolute;
  top: 0;
  right: 0;
}