h1{
    font-size: $h1;
    color: $titleColor;
}
h2{
    font-size: $h2;
    color: $titleColor;
}
h3{
    font-size: $h3;
    color: $titleColor;
}
h4{
    font-size: $h4;
    color: $titleColor;
}
h5{
    font-size: $h5;
    color: $titleColor;
}
h6{
    font-size: $h6;
    color: $titleColor;
}