.reward {
    margin-top: 48px;

    &__card {
        background-color: $secondaryBackgroundColor;
        border-radius: 5px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding-bottom: 20px;
        margin-top: 32px;

        &__image {
            margin-top: 10px;
        }

        &__content {
            display: flex;
            justify-content: space-between;

            &__name {
                color: $textColor;
            }
            &__points {
                color: $textColor;
                &__bold {
                    color: $textColor;
                    font-weight: bold;
                }
            }
        }

        &__progressbar {
            margin-top: -10px;
            margin-left: 72px;
            width: 360%;
            height: 7px;
            border-radius: 10px;
            background-color: plum;
        }

        &__progressbarFilledMojito {
            margin-top: -10px;
            width: 90%;
            height: 7px;
            border-radius: 10px;
            background-color: $primaryInBoxes;
        }

        &__progressbarFilledBier {
            margin-top: -10px;
            width: 100%;
            height: 7px;
            border-radius: 10px;
            background-color: $primaryInBoxes;
        }

        &__progressbarFilledCheeseburger {
            margin-top: -10px;
            width: 25%;
            height: 7px;
            border-radius: 10px;
            background-color: $primaryInBoxes;
        }

        &__progressbarFilledFriet {
            margin-top: -10px;
            width: 19%;
            height: 7px;
            border-radius: 10px;
            background-color: $primaryInBoxes;
        }
    }

    &__extra {
        background-color: white;
        border-radius: 5px;
        padding-left: 10%;
        margin-top: -20px;
        font-size: $fontsizeSmall;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__button {
            background-color: $textColor;
            border: none;
            border-radius: 2px;
            color: white;
            font-size: $fontsizeNormal;
            padding: 5px 15px;
            width: fit-content;
            height: fit-content;
            margin-top: 10px;
            margin-right: 10px;

            &__active {
                background-color: $primaryInBoxes;
                border: none;
                border-radius: 2px;
                color: white;
                font-size: $fontsizeNormal;
                padding: 5px 15px;
                width: fit-content;
                height: fit-content;
                margin-top: 10px;
                margin-right: 10px;
            }
        }

        &__line {
            margin-top: 20px;
            width: 90%;
            margin-left: -2px;
        }
    }
}
