.wrongInfo {
    background-color: $secondaryBackgroundColor;
    padding: 4px;
    margin-top: 40px;
    padding-bottom: 16px;

    &__title {
        width: 96%;
        margin: auto;
        margin-top: 8px;
    }

    &__content {
        width: 96%;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 16px;
        color: $textColor;
    }

    &__link {
        color: $primaryInBoxes;
        text-decoration: underline;
        margin-left: 2%;
    }
}
